.root {
    margin: 0 auto;
    padding: 0 16px;

    @media (min-width: 768px) {
        padding: 0 32px;
    }
}

.container {
    width: 100%;

    @media (min-width: 1440px) {
        max-width: 1280px;
    }
}
